@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html , body{
  height: 100vw;
  width: 100%;
   
  
  

}
body{
      
      background-image: url(imagens/fundo-madeira.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

}
main{
      height: 100vw;
      position: relative;
}
      
section#telefone{
     
      height: 100vw;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 627px;
      width : 331px; 
      transform: translate(-50%, -50%);
      background-image: url(imagens/frame-iphone.png);
      background-repeat: no-repeat;

}
iframe#tela {
      position: absolute;
      top: 52%;
      left: 47%;
      height: 500px;
      width : 269px; 
      transform: translate(-50%, -50%);
      border: none;
      background-size: cover;

}